.header{
    height:50vh;
    width:100%;
    background-color: red;
    background-image: url("../../images/image-six.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

